---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:SendACHTransBatch><tns:InpCompanyInfo><tns:SSS>TST</tns:SSS><tns:LocID>9505</tns:LocID><tns:Company>MYCOMPANY</tns:Company><tns:CompanyKey>SASD%!%$DGLJGWYRRDGDDUDFDESDHDD</tns:CompanyKey></tns:InpCompanyInfo><tns:InpACHFile><tns:SSS>TST</tns:SSS><tns:LocID>9505</tns:LocID><tns:ACHFileName></tns:ACHFileName><tns:TotalNumRecords>2</tns:TotalNumRecords><tns:TotalDebitRecords>1</tns:TotalDebitRecords><tns:TotalDebitAmount>0.12345E3</tns:TotalDebitAmount><tns:TotalCreditRecords>1</tns:TotalCreditRecords><tns:TotalCreditAmount>0.1E3</tns:TotalCreditAmount><tns:ACHRecords><tns:ACHTransRecord><tns:SSS>TST</tns:SSS><tns:LocID>9505</tns:LocID><tns:FrontEndTrace>4633906a9505</tns:FrontEndTrace><tns:OriginatorName>MYCOMPANY</tns:OriginatorName><tns:TransactionCode>PPD</tns:TransactionCode><tns:CustTransType>C</tns:CustTransType><tns:CustomerID>cust_123</tns:CustomerID><tns:CustomerName>LAST
        NAME, FIRST NAME</tns:CustomerName><tns:CustomerRoutingNo>123456789</tns:CustomerRoutingNo><tns:CustomerAcctNo>acc_123</tns:CustomerAcctNo><tns:CustomerAcctType>S</tns:CustomerAcctType><tns:TransAmount>0.1E3</tns:TransAmount><tns:CheckOrCustID>cust_123</tns:CheckOrCustID><tns:CheckOrTransDate>2014-07-21</tns:CheckOrTransDate><tns:EffectiveDate>2014-07-21</tns:EffectiveDate><tns:Memo>foo
        bar</tns:Memo><tns:OpCode>S</tns:OpCode><tns:AccountSet>1</tns:AccountSet></tns:ACHTransRecord><tns:ACHTransRecord><tns:SSS>TST</tns:SSS><tns:LocID>9505</tns:LocID><tns:FrontEndTrace>a806d49e9505</tns:FrontEndTrace><tns:OriginatorName>MYCOMPANY</tns:OriginatorName><tns:TransactionCode>PPD</tns:TransactionCode><tns:CustTransType>D</tns:CustTransType><tns:CustomerID>cust_123</tns:CustomerID><tns:CustomerName>LAST
        NAME, FIRST NAME</tns:CustomerName><tns:CustomerRoutingNo>123456789</tns:CustomerRoutingNo><tns:CustomerAcctNo>acc_123</tns:CustomerAcctNo><tns:CustomerAcctType>S</tns:CustomerAcctType><tns:TransAmount>0.12345E3</tns:TransAmount><tns:CheckOrCustID>cust_123</tns:CheckOrCustID><tns:CheckOrTransDate>2014-07-21</tns:CheckOrTransDate><tns:EffectiveDate>2014-07-21</tns:EffectiveDate><tns:Memo>foo
        bar</tns:Memo><tns:OpCode>S</tns:OpCode><tns:AccountSet>1</tns:AccountSet></tns:ACHTransRecord></tns:ACHRecords></tns:InpACHFile></tns:SendACHTransBatch></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/SendACHTransBatch"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SendACHTransBatchResponse
        xmlns="http://achworks.com/"><SendACHTransBatchResult><SSS>TST</SSS><LocID>9505</LocID><Status>SUCCESS</Status><Details>Transaction
        records received and queued on 07/21/2014 11:41:01 AM Pacific Time [ACHFileName=TST9505-14072105.XML].
        Server Processing Time:&lt;0.0001 ms</Details><CallMethod>SendACHTransBatch</CallMethod><CallDateTime>2014-07-21T11:41:01.877375-07:00</CallDateTime><FileName>TST9505-14072105.XML</FileName><TotalNumErrors>0</TotalNumErrors></SendACHTransBatchResult></SendACHTransBatchResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 21 Jul 2014 18:41:01 GMT
recorded_with: VCR 2.9.2
