---
http_interactions:
- request:
    method: post
    uri: http://tstsvr.achworks.com/dnet/achws.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://achworks.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ConnectionCheck><tns:InpCompanyInfo><tns:SSS>foo</tns:SSS><tns:LocID>bar</tns:LocID><tns:Company>baz</tns:Company><tns:CompanyKey>qux</tns:CompanyKey></tns:InpCompanyInfo></tns:ConnectionCheck></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://achworks.com/ConnectionCheck"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ConnectionCheckResponse
        xmlns="http://achworks.com/"><ConnectionCheckResult>REJECTED:Invalid Account</ConnectionCheckResult></ConnectionCheckResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 21 Jul 2014 15:16:08 GMT
recorded_with: VCR 2.9.2
